<!-- add_service.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usługi Lulu</title>
</head>
<body>
    <h1>Usługi Lulu</h1>
    <form id="serviceForm" action="{% url 'add_service' %}" method="post">
    {% csrf_token %}    
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %} 
        </select>
        <select id="types" name="types">
            <!-- Opcje typów będą dynamicznie dodawane tutaj za pomocą JavaScript -->
        </select>
        <input type="number" name="price_min" id="price_min"/>
        <input type="number" name="price_max" id="price_max"/>
        <button type="submit">Dodaj Usługę</button>
    </form>

    <script>
        var categorySelect = document.getElementById('category');
        var typesSelect = document.getElementById('types');

        setParameters();

        categorySelect.addEventListener('change', function() {
           setParameters();
        });


        function setParameters () {
            var categoryId = categorySelect.value;
            fetch('/get_types/' + categoryId + '/')
            .then(response => response.json())
            .then(data => {
                typesSelect.innerHTML = '';  // Wyczyść obecne opcje typów
                data.types.forEach(function(type) {
                    var option = document.createElement('option');
                    option.value = type.id;
                    option.textContent = type.name;
                    typesSelect.appendChild(option);
                });
            });
        }
    </script>
</body>
</html>
