{% extends "main.html" %}

{% block content%}
    <div style="margin: 50px" >Witaj na lulu - Twoim pierwszym przystanku w podróży ku doskonałemu wyglądowi i samopoczuciu! Jesteśmy platformą, która łączy klientów z najlepszymi specjalistami w dziedzinie urody i relaksu. Czy marzysz o perfekcyjnej fryzurze, relaksującym dniu w spa, czy może zabiegu medycyny estetycznej? Znajdziesz to wszystko i więcej na lulu!
    <br/>
    <br/>
    Przeglądając naszą platformę, możesz odkryć wybitnych fryzjerów, znakomitych barberów, luksusowe salony spa oraz doświadczonych specjalistów od medycyny estetycznej - wszystkich w zasięgu jednego kliknięcia! Nasz cel? Zapewnić Ci niezapomniane doświadczenie, które wykracza poza Twoje oczekiwania.
    <br/>
    <br/>
    Ale to nie wszystko! Na lulu możesz także dodawać swoje własne usługi, aby inni użytkownicy mogli łatwo znaleźć Twój profil i umówić się na wizytę. Dzięki temu stajesz się częścią naszej rosnącej społeczności ekspertów od urody i relaksu!
    <br/>
    <br/>
    Dołącz do nas już dziś i odkryj świat doskonałości i relaksu!</div>
    <div class="category-container">
        {% for category in categories %}
        <a href="service/{{category.id}}" class="category-link">
            <div class="category-item">
                <div>
                    <img src="{{ category.image_url }}" alt="{{ category.name }}">    
                </div> 
                <div>
                    <p> {{ category.name }}</p>   
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock content%}