{% extends "main.html" %}

{% block content%}

    <ul class="sevice-container">
    {% for service in services %}
        <li class="service-item">
            <a href="/profile/{{service.user.id}}">{{ service.user.username }}</a>
        </li>
        <li>
            <h2>{{service.types.name}}</h2>
        </li>
        <li>
            <h2>{{service.price_min}}</h2>
        </li>
        <li>
            <h2>{{service.price_max}}</h2>
        </li>
    {% endfor %}
    </ul>

{% endblock content%}